.Home {
  text-align: center;
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #274046,
    #e6dada
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 130vh;
  display: flex;
  flex-direction: column;
}


.container {
  display: flex;
  position: relative;
  height: 100vh; /* 100% του ύψους της οθόνης */
  
}


.navbarstyle {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 100px;
}
.text{
  display: grid;
  text-align: center; 
  font-size: 20px;
  font-weight: bold;
        
}
.phase_text{
  display: grid;
  text-align: center; 
  font-size: 25px;
  margin-top: 10px;
        
}
.title_text{
  display: grid;
  text-align: center; 
  font-size: 30px;
  font-weight: bold;
        
}

.left-div, .right-div {
  flex: 1; 
  display: grid;
  place-items: center;
}

.right-div {
  display: flex;
  flex-direction: column;

}

.pagi-container {
  display: flex;
  width: 100%;
  height: 50vh; /* Χρησιμοποιούμε το 100vh για να καλύψουμε ολόκληρο το ύψος της οθόνης */
}

.pagi-container > div {
  flex: 1; /* Κάθε div θα πάρει ίσο μέρος του διαθέσιμου χώρου */
  border: 1px solid black; /* Προσθέτουμε περίγραμμα για να δούμε τα όρια των div */
}

.pagi-container > div:nth-child(2) {
  flex: 0 0 60%; /* Το κεντρικό div καταλαμβάνει το 50% του πλάτους */
}


#bar{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  width: 100%;
}




.left-top {
  position: absolute;
  left: 200px;
  top: 95px;
}


.styled-text {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  
}

/* Εφαρμογή περιορισμένης διάταξης για κινητά */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

 

  canvas {
    width: 100%; /* Προσαρμογή του πλάτους στο 100% του παραθύρου προβολής */
    height: auto; /* Αυτόματο ύψος για διατήρηση της αναλογίας */
    max-width: 300px; /* Μέγιστο πλάτος του canvas για να μην υπερβαίνει το 300px */
  }

  .right-div {
    flex: 1; 
    display: grid;
    place-items: center;
    padding: 0 10px; /* Προσθήκη padding 10px από αριστερά και δεξιά */
  }

  .pagi-container > div {
    flex: 1;
    width: 100%;
    height: auto;
  }

  .pagi-container > div:nth-child(2) {
    flex: 0 0 100%;
  }

  /* Περισσότερα κανόνες CSS για προσαρμογή σε μικρότερες οθόνες */
  .navbarstyle {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .navbarstyle > div {
    margin-bottom: 10px;
  }

  .text, .phase_text, .title_text {
    font-size: 18px;
  }

  
  
}

