.Home {
    text-align: center;
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
  }

  .navbar {
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    



  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
  .button-container_b {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 40px;

  }

  #create{
    margin-bottom: 30px;
  }
  
  #button-left {
   margin-left: 80px;
  }
  
  #button-right {
    margin-right: 80px;
  }


@media (max-width: 600px) {
  .button-container {
    width: 100%;
    position: relative;
    top: 90%;
    transform: translateY(-50%);
  }

  
}