.mesh {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .box {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin: 2px;
  }
  
  .black {
    background-color: black;
  }
  
  .white {
    background-color: white;
  }
  